
body{
    background-color: blueviolet;
    background-image: url("../image/searchbackground2.png");
}
.logout{
    float: right;
}
.back{
    float: left;
}
.search{
     width:400px;
     height: 50px;
    
    margin:50 auto;
    text-align: center;
    color: blue;
    float :center;
    background-color: pink;
    border-radius: 10px;
}

input[type=text]{
    height: 40px;
    margin: 5 auto;
    border-radius: 8px;

}